@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display&display=swap');

body{
    background-color: silver;
}

*{
    margin: 0;
    padding: 0;
     
}

nav{
     font-family: 'playfair', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
     
}
nav ul li{
    padding: 0 12px;

}
.brand img{
    width: 44px; 
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size:1.3rem;
}
.container{
    min-height: 85vh;
    background-color: black;
    color:white;
    font-family: 'PT Sans' , sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('photo-1614149162883-504ce4d13909.jpeg');
}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin-top: 14px  ;
}
.icons i{
cursor: pointer;
}
#MyprogressBar{
    width: 80vw; 
    cursor: pointer;
}
.SongItemContainer{
    margin-top: 34px;
}
.songItem{
height: 50px;
display:flex;
background-color: white;
color: black;
margin: 12px 0; 
justify-content: space-between;
align-items: center;
border-radius: 34px;
}
.songItem img{
    width: 45px;
    margin: 0 13px;
    border-radius:12px; 
    height: 35px;
}
.timestamp{
    margin: 0 23px;
    cursor: pointer;
}
.timestamp i{
 cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'PT Sans' , sans-serif;
}  